<div id="about-snippet">Hi there! Im an NYC based entrepreneur and RoR developer. I like thinking about tech and hashing out ideas in coffee shops.</div>
<div id="reach-out">
	<div id="reach-out-label">
		Reach Out
	</div>
	<div id="icons">
		<a href="https://twitter.com/corydiamand"><div id="twitter-icon"></div></a>
		<a href="https://linkedin.com/in/corydiamand"><div id="linkedin-icon"></div></a>
		<a href="https://github.com/corydiamand"><div id="github-icon"></div></a>
	</div>
</div>

<div id="recent-container-outer">
	<div id="recent-label">
		Recent
	</div>
	<div id="recent-container-inner">
		<div id="recent-title">Postpourri</div>
		<div id="recent-date"><%#= @recent_blog.created_at.strftime("%d, %b, %Y") %></div>
		<div id="recent-content">For the last few months I've been working on a new a new email marketing product -  <a href="http://www.postpourri.com">Postpourri.</a> 
		<br></br>
		Postpourri provides email marketing tools that are an inexpensive and intuitive alternative to the  complex and overpriced solutions that already exist. We provide all the tools needed to craft targeted campaigns. We're also delighted to help out through consultation and the development of personalized email templates. Check us out <a href="http://www.postpourri.com">here!</a>

		</div>
	</div>
</div>

<div id="selected-work">
	<div id="selected-work-label">Selected Work</div>
	<div class = "work-container">
		<a href="http://www.relevantmobile.com"><div id = "relevant-image"></div></a>
		<div class = "work-title">Relevant Mobile</div>
		<div class = "work-text">The Relevant Mobile website is a mostly static HTML site using bootstrap.css as a base, with some light PHP for functionality. </div>
	</div>
	<div class = "work-container">
		<a href="http://www.postpourri.com"><div id = "postpourri-image"></div></a>
		<div class = "work-title">Postpourri</div>
		<div class = "work-text">A web application built using Ruby on Rails, Heroku, Mysql as a data store, and DelayedJob for background processing. Postpourri is platform for sending mass e-mails in a cost efficient and feature-light way. </div>
	</div>
	<div class = "work-container">
		<a href="http://www.quarterlette.com"><div id = "quarterlette-image"></div></a>
		<div class = "work-title">Quarterlette</div>
		<div class = "work-text">Built on the wordpress platform. Quarterlette is an online publication for women in their 20's. Quarterlette was nominated by Forbes in 2013 as a top 10 site for millenial women, and in the top 100 sites for women.</div>
	</div>
</div>
