// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	font-family: Arial, Helvetica, sans-serif;
	background:url('/assets/grey2.png');
	
}

#main-container{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

#name{
font-size:55px;
font-family: Georgia, 'Times New Roman', Times, serif;
display: block;
font-weight: bold;
}

#about-snippet{
	margin-top:30px;
}

#reach-out{
	margin-top:30px;
	height:30px;
}

#reach-out-label{
	float: left;
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
	}

#icons{
	float:left;
	margin-left:30px;
}

#twitter-icon{
	float:left;
	width:32px;
	height:32px;
	background:url('/assets/twitter.png');
	background-repeat: no-repeat;
	background-size:100%;
}

#linkedin-icon{
	float:left;
	margin-left:5px;
	width:32px;
	height:32px;
	background:url('/assets/linkedin.png');
	background-repeat: no-repeat;
	background-size:100%;
}

#github-icon{
	float:left;
	margin-left:5px;
	width:32px;
	height:32px;
	background:url('/assets/github.png');
	background-repeat: no-repeat;
	background-size:100%;
}

#recent-label{
	float:left;
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
}

#recent-container-outer{
	margin-top:30px;
}

#recent-container-inner{
	width: 600px;
	margin-left: 120px;
}

#recent-title{
	font-size:20px;
}

#recent-date{
	margin: 10px 0 10px 0;
	font-size: 12px;
}

#recent-content{
	color: #6e6e6e;
	font-size:13px;
	line-height:22px;
}

#selected-work{
	margin-top:30px;
}

#selected-work-label{
	font-size: 18px;
	font-style: italic;
	line-height: 22px;
}

.work-container{
	margin-top: 40px;
}

.work-title{
	margin-left: 120px;
	margin-top: 20px;
	font-size: 20px;
}

.work-text{
	width:600px;
	margin-left: 120px;
	margin-top: 20px;
	margin-bottom: 60px;
	color: #6e6e6e;
	font-size: 13px;
	line-height: 22px;
	border-bottom: 1px solid #6e6e6e;
	padding-bottom: 30px;
}

#relevant-image{
	background-image:url('/assets/relevantmobile.png');
	width: 600px;
	height: 251px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 120px;
}

#postpourri-image{
	background-image:url('/assets/postpourri.png');
	width: 600px;
	height: 251px;	
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 120px;
}

#quarterlette-image{
	background-image:url('/assets/quarterlette.png');
	width: 600px;
	height: 251px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 120px;
}